* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI Semibold', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#wrapper {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin: 0 auto;
}

#header {
  color: #fffffff2;
  font-family: Rockwell, serif;
  font-size: 29px;
  letter-spacing: -0.5px;
  background: #5598AF;
  grid-row: 1;
  grid-column: 1/4;
  padding-left: 10px;
  padding-bottom: 10px;
}

#search-bar {
  color: #333;
  padding: 10px;
  background: #5598AF;
  grid-row: 1;
  grid-column: 3;
  margin: auto;
}

#navigation-list {
  padding-left: 10px;
  padding-right: 50px;
  background-color: #5598AF;
}

#navigation-list li {
  margin-top: 10px;
  padding: 10px;
  background-color: #a6ecfdd3;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.431);
  color: #000000;
  border-radius: 50px;
  margin: 10;
  cursor: pointer;
  transition: background-color 0.3s ease;
  list-style-type: none;
  justify-content: center;
  font-size: 18px;
}

#navigation-list li:hover {
  background-color: #DF3C22;
  color: #fff;
}

#bird-name {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

#featured-bird-image {
  padding: 50px;
  overflow: auto;
  grid-row: 2;
  grid-column: 2;
  box-shadow: 10px 10px 5px #d2d6d9;
  margin: 11px;
  border: solid #808080a6;
  border-radius: 5px;
}

#bird-image {
  width: 100%;
  height: auto;
  border: solid #808080a6;
  border-radius: 5px;
}

#bird-image:active {
  cursor: not-allowed;
}

#comments-section {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.current-comment {
  margin-top: 10px;
  padding: 10px;
  background-color: #A6EBFD;
  color: #000000;
  border-radius: 50px;
  width: 80%;
  box-shadow: 5px 5px 5px #d2d6d9;
}

#new-comment-form {
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
}

footer {
  background: #5598AF;
  padding: 10px;
  /* margin-top: 10px; */
  grid-row: 3;
  grid-column: 1/4;
}

#new-bird-form {
  width: 100%;
}

#new-bird-form label,
#new-bird-form input,
#new-bird-form textarea {
  margin-bottom: 10px;
}

#new-bird-form textarea {
  height: 80px;
}

#new-bird-form button {
  padding: 5px 10px;
  background-color: #C7E1EB;
  border: none;
  cursor: pointer;
}

.clear {
  clear: both;
  background: none;
}

#comments-wrapper {
  grid-row: 2;
  grid-column: 3;
  position: relative;
  text-align: center;
  margin-top: 15px;
}

#comments-wrapper h2{
  font-family: 'Segoe UI';
}

#comment-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bird-list{
  margin-bottom: 15px;
}

#bird-form label{
  padding-right: 10px;
  float: left;
  width: 100px;
}

#new-bird-form h2{
  padding-bottom: 5px;
}

button,
input[type="submit"],
#search-button{
  background-color: #c4eef8;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  border: solid #808080a6;
  font-family: 'Segoe UI Semibold', Arial, Helvetica, sans-serif;
}

h1{
  text-shadow: 5px 5px 6px black;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: text;
}