* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#wrapper {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  margin: 0 auto;
}

#header {
  color: #333;
  font-family: Impact, Arial, sans-serif;
  font-size: 21px;
  background: #B3E5FC;
  grid-row: 1;
  grid-column: 1/4;
}

#search-bar {
  color: #333;
  padding: 10px;
  background: #E1F5FE;
  
}

#navigation-list {
  list-style-type: none;
  grid-row: 2;
  grid-column: 1;
}

#navigation-list li {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#navigation-list li:hover {
  background-color: #FF4136;
  color: #fff;
}

#bird-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#bird-description {
  margin-bottom: 10px;
}

#featured-bird-image {
  margin-bottom: 10px;
  overflow: auto;
  grid-row: 2;
  grid-column: 2;
}

#bird-image {
  width: 100%;
}

#comments-section {
  margin-top: 10px;
  grid-row: 2;
  grid-column: 3;
}

#new-comment-form {
  margin-top: 10px;
}

footer {
  background: #E1F5FE;
  padding: 10px;
  margin-top: 10px;
  grid-row:3;
  grid-column: 1/4;
}

#new-bird-form {
  width: 100%;
}

#new-bird-form label,
#new-bird-form input,
#new-bird-form textarea {
  display: block;
  margin-bottom: 10px;
}

#new-bird-form textarea {
  height: 80px;
}

#new-bird-form button {
  padding: 5px 10px;
  background-color: #E1F5FE;
  border: none;
  cursor: pointer;
}

.clear {
  clear: both;
  background: none;
}
